# Ensure each model is pulled before starting the server:
#   ollama pull bge-m3
#   ollama pull llama3.3:70b
#   ollama pull deepseek-r1:7b
#   ollama pull translategemma:4b

# ALL this models where picked based on my hardware for local running
# For deployment, I have gone for ollama cloud models
# Used for generating 1024 dimensional vector embedding for /chat and /similar
EMBED_MODEL=bge-m3
RAG_LLM_MODEL=qwen3.5:8b
LLM_MODEL=gpt-oss:20b
RHET_MODEL=qwen3.5:8b # deepseek-r1:7b is also good

#Redtracted translation model
TRANSLATION_MODEL=translategemma:4b 